<!DOCTYPE html>
<html>
    <head>
        <title>Dynamic Sorting Visualizer</title>
        <link rel ="icon" type ="image/x-icon" href="./assets/favicon.png">

        <!-- the following says there are javascript source code contained in 
             the external source files
        -->
        <!-- external library -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <script type="text/javascript" src="src/lib/gl-matrix.js"></script>
        <script type="text/javascript" src="src/lib/webgl-obj-loader.js"></script>

        <!-- Engine code: Graphics Support -->
        <!-- Core of Engine -->
        <script type="text/javascript" src="src/Engine/Core/Engine_Core.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_VertexBuffer.js"></script>
        <script type="text/javascript" src="src/Engine/Core/Engine_MouseSupport.js"></script>
        <script type="text/javascript" src="src/Engine/Shaders/SimpleShader.js"></script>
        <script type="text/javascript" src="src/Engine/Shaders/ColorVertexShader.js"></script>
        <script type="text/javascript" src="src/Engine/Shaders/FileTextureShader.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/Renderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SquareRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/MeshRenderable.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/SceneNode.js"></script>
        <script type="text/javascript" src="src/Engine/Renderable/FileTextureSupport.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/Transform.js"></script>
        <script type="text/javascript" src="src/Engine/Transform/PivotedTransform.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera.js"></script>
        <script type="text/javascript" src="src/Engine/Camera/Camera_Mouse.js"></script>

        <!-- GUI Lib -->
        <script type="text/javascript" src="src/GUI/CSS450Timer.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Slider.js"></script>
        <script type="text/javascript" src="src/GUI/CSS450Xform.js"></script>
        <script type="text/javascript" src="src/GUI/CanvasMouseSupport.js"></script>
        
        <!-- My application code -->
        <script type="text/javascript" src="src/MainController.js"></script> 
        <script type="text/javascript" src="src/App/ClassExample.js"></script> 
        <script type="text/javascript" src="src/App/ClassExample_CurrentObject.js"></script> 
        <script type="text/javascript" src="src/App/ArmSegment.js"></script> 
        <script type="text/javascript" src="src/App/ListObject.js"></script>
        
    </head>

    <body
         ng-app="appMyExample" 
         ng-controller="MainCtrl">
        
    <css-timer id="idMainControllerTimer"
               interval="40"
               timeron="true"
               callback="mainTimerHandler"></css-timer> 
    <!-- Texture loading button
    <input type="file" 
                   onchange="angular.element(this).scope().acceptFiles(event)">
    -->
    <nav style="float: left;
    max-width: 176px;
    margin: 0;
    padding: 1em;">
        <table>
            <tr><td>
                <md-input-container>
                    <label>List</label>
                    <md-select ng-model="mActiveList">
                        <md-option ng-repeat="item in mListOptions" ng-value="item" ng-click="serviceListSelect(item)">
                            <span md-menu-align-target>List</span> {{item}}
                        </md-option>
                    </md-select>
                </md-input-container>
            <md-button aria-label="Add New List" class="md-icon-button" ng-click="addNewList()"
                       style="margin-left: 0px; padding-left: 0px;">
                <md-icon>add_circle</md-icon>
            </md-button>
            </td></tr>
        </table>
        <table style="width: 150px">
            <tr><td>
            Sort Type
            </td></tr>
            <tr><td>
            <md-radio-group ng-model="mSelectedSort">
                <md-radio-button ng-repeat="sortType in mSortOptions" ng-click="serviceSortChange(sortType)" value="{{sortType}}" class="md-primary">{{sortType}}</md-radio-button>
            </md-radio-group>
            </td></tr>
            <tr><td>
                <css-slider model="mainViewPortWidth" min="1" max="800" 
        label="Width" callback="setMainViewPort"></css-slider>
            </td></tr>
            <tr><td>
                <css-slider model="mainViewPortX" min="-100" max="100" 
        label="CX" callback="setMainViewPort"></css-slider>
            </td></tr>
            <tr><td>
                <css-slider model="mainViewPortY" min="-100" max="100" 
        label="CY" callback="setMainViewPort"></css-slider>
            </td></tr>
            <tr><td>
                <!--<input id="speed" type="range" min="1" max="40" value="10" step="" /> -->
                <css-slider model="movementSpeed" min="1" max="40" 
                    label="Speed" callback="changeSpeed"></css-slider>
            </td></tr>
        </table>
        <table>
            <tr><td> <!-- Last Element: Sort button -->
                <md-button class="md-raised" value="Sort" ng-click="handleSort()" style="margin: 0px">Sort</md-button>
            </td><td>
                <md-button class="md-raised" value="Sort" ng-click="handleSortAll()" style="margin: 0px">Sort All</md-button>
            </td></tr>
            <tr><td> 
                <md-button class="md-raised" value="Stop" ng-click="handleStop()" style="margin: 0px">Stop</md-button>
            </td></tr>
        </table>
    </nav>

    <article style="
    margin-left: 200px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;">
        <canvas 
            ng-mousemove="dragSquare($event)"
            ng-mousedown="defineSquare($event)"
            ng-mouseup="squareDefined($event)"
            id="GLCanvas" width="800" height="600">
            <!-- GLCanvas is the area we will draw in: a 640x480 area. -->
            Your browser does not support the HTML5 canvas.
            <!-- this message will show only if WebGL clearing failed -->
        </canvas>
    </article>
    </body>
</html>